BasedOnStyle: Google
Language: Cpp
AccessModifierOffset: -4
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
ColumnLimit: 0
IncludeBlocks: Regroup
IndentCaseLabels: true
IndentWidth: 4
NamespaceIndentation: All
SortIncludes: true
Standard: c++03
TabWidth: 4
UseTab: Never
