# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
max_line_length = 120

[*.py]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[{package.json,*.yml}]
indent_style = space
indent_size = 2

# C/C++
[*.{c,h,cc,cpp,hpp}]
indent_style = space
indent_size = 4
