Makefile.in
Makefile

configure
config.guess
config.status
config.sub
config.h.in

autom4te.cache
aclocal.m4
m4

depcomp
missing
ltmain.sh
install-sh

*~
#*
*.o
*.lo
*.la

*.pyc
*.exe
*.log

config.h
pdflib-int.h
src/*/.deps
src/*/.libs

