Makefile.in
Makefile

configure
config.guess
config.status
config.sub
config.h.in

autom4te.cache
aclocal.m4
m4

depcomp
missing
ltmain.sh
install-sh

*~
#*
*.o
*.lo
*.la

*.pyc
*.exe
*.log

include/config.h
include/pdflib-int.h
src/*/.deps
src/*/.libs
fj/*.cpp
fj/*.cxx

